body{
    font-family: Helvetica, sans-serif;
}

.section {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    font-size: 80px;
    margin-bottom: 30px;
}

.logo-null{
    text-decoration: none;
    color: #333333;
}

.logo-color {
    text-decoration: none;
    color: #4BCAFF;
}

.header {
    background-color: #35444F;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin-bottom: 35px;
}

.header-nav {
    font-size: 22px;
    background-color: #35444F;
    color: #ffffff;
    padding: 40px;
    text-decoration: none;
}

.header-nav:hover {
    background-color: #222F3A;
}

.nav {
    width: 350px;
    height: 400px;
    border: 1px solid #35444F;
}

.nav-list {

}

.nav-list-item{
    padding-left: 30px;
    height: 80px;
    font-size: 30px;
    line-height: 80px;
    color: #485863;
}

.nav-list-item:hover{
    color: #000000;
    background-color: #DBDBDB;
    padding-left: 55px;
    transition: 0.3s;

}

.main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.picture{
    width: 890px;
    height: 530px;
    border: 1px solid #35444F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-img:hover{
    transition: 0.2s;
    transform: scale(1.2);
}

.intro{
    width: 890px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 35px;;

}

.intro-text{
    width: 820px;
    font-size: 18px;
}

.intro-text-paragraph{
    margin-bottom: 20px;
}

.footer{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    background-color: #B4B7BA;
}

.footer-section{
    width: 820px;
    margin-left: 30px;
}

.footer-section-link{
    margin-right: 15px;
    text-decoration: none;
    color: #333333;
}

.footer-section-link:hover{
    text-decoration: underline;
    color: #3181A6;
}

.footer-copyright{
    font-size: 24px;
    margin-right: 30px;
}

