:root {
    --color10: #3CB878;
    --color11: #329A65;
}

body {
    font-family: Helvetica, sans-serif;
}

.section {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vw;
}

.header {
    width: 1366px;
    height: 54px;
    line-height: 54px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto 48px;
}

.header-left {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    margin-left: 61px;
}

.header-left:hover {
    color: var(--color11);
}

.header-sprites {
    background-image: url("../img/css_sprites.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 21px;
    display: inline-block;
    line-height: 64px;
}

.header-sprites.calc {
    background-position: -102px -48px;
    margin-right: 20px;
}

.header-sprites.calc:hover {
    background-position: -102px -9px;
}

.header-sprites.copy {
    background-position: -58px -9px;
    margin-right: 20px;
}

.header-sprites.copy:hover {
    background-position: -10px -9px;
}

.header-sprites.nav {
    background-position: -47px -49px;
    margin-right: 20px;
}

.header-sprites.nav:hover {
    background-position: -7px -49px;
}

.header-right {
    display: inline;
    float: right;
    height: 63px;
}

.header-welcome {
    font-size: 14px;
    color: #ffffff;
}

.header-right-word {
    display: inline-block;
    float: right;
    margin-right: 71px;
}

.header-login {
    text-decoration: none;
    color: var(--color10);
    font-size: 14px;
}

.header-login:hover {
    text-decoration: underline;
    text-underline-color: var(--color11);
}

.form {
    width: 460px;
    height: 600px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding-top: 22px;
    border-radius: 10px;
}

.form-header {
    display: block;
    margin: 0 auto 25px;
    padding: 0 45px 0 45px;

}

.form-header-sign {
    font-size: 20px;
    color: #333333;
}

.form-header-login {
    font-size: 14px;
    text-decoration: none;
    color: var(--color10);
}

.form-header-decoration-square {
    width: 18px;
    height: 18px;
    background-color: var(--color10);
    float: left;
    display: inline-block;
}

.form-header-login {
    float: right;
}

.form-header-login:hover {
    color: var(--color11);
    text-decoration: underline;
}

.form-header-box {
    margin: 15px auto;
    width: max-content;
    height: 47px;
}

.form-header-box-facebook {
    width: 180px;
    height: 47px;
    background-color: #305DB8;
    display: inline-block;
    line-height: 47px;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
}

.form-header-box-google {
    width: 180px;
    height: 47px;
    background-color: #DF4A32;
    display: inline-block;
    line-height: 47px;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
}

.form-header-box-google:hover {
    background-color: #C3412C;
}

.form-header-box-facebook:hover {
    background-color: #264B96;
}

.form-header-btn {
    color: #ffffff;
}

.form-header-box-sprites {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 27px 0 16px;
}

.form-header-box-sprites.facebook {
    background-position: 0 0;
}

.form-header-box-sprites.google {
    background-position: -24px 4px;
}

.form-header-box-line {
    width: 1px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    line-height: 47px;
    position: absolute;
    left: 50px;
    top: 7px;
}

.form-decoration-line {
    display: flex;
    padding: 0 45px 15px 45px;

}

.form-main-decoration-line {
    width: 175px;
    color: rgba(0, 0, 0, 0.3);
}

.form-main-decoration-text {
    color: rgba(0, 0, 0, 0.4);
}

.form-main {
    padding: 0 45px 0 45px;
}

.form-main-feedback-name,
.form-main-feedback-last-name,
.form-main-feedback-email,
.form-main-feedback-password,
.form-main-feedback-confirm-password {
    width: 347px;
    height: 47px;
    padding-left: 15px;
    margin-bottom: 7px;
}

.form-main-feedback-name:focus,
.form-main-feedback-last-name:focus,
.form-main-feedback-email:focus,
.form-main-feedback-password:focus,
.form-main-feedback-confirm-password:focus {
    border: 1px solid var(--color10);
}

.form-main-feedback-confirm-password {
    margin-bottom: 20px;
}

.form-main-feedback-name {
    margin-bottom: 15px;
}

.form-main-feedback-name::placeholder,
.form-main-feedback-last-name::placeholder,
.form-main-feedback-email::placeholder,
.form-main-feedback-password::placeholder,
.form-main-feedback-confirm-password::placeholder {
    font-style: italic;
}

.form-main-feedback-checkbox {
    display: none;
}

.form-main-feedback-checkbox-modern {
    height: 12px;
    width: 12px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color: #FFF;
    border-radius: 2px;
    padding: 3px;
}

[type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 23px;
    color: var(--color10);
}

.form-main-feedback-checkbox-text {
    font-size: 14px;
}

.form-main-feedback-checkbox-terms {
    font-size: 14px;
    color: var(--color10);
}

.form-main-feedback-submit {
    font-size: 16px;
    width: 370px;
    height: 46px;
    background-color: var(--color10);
    margin-top: 21px;
    border: none;
    border-radius: 3px;
    color: #ffffff;
}

.form-main-feedback-submit:hover {
    background-color: var(--color11);
}

.form-main-feedback-checkbox-terms:hover {
    text-decoration: underline;
}