@import "reset.css";

body {
    font-family: Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #1D2124;
    align-items: center;
}

.header-logo {
    display: inline-flex;
    line-height: 70px;
}

.header-logo-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #1A1D20;
    margin-right: 7px;
}

.header-logo-architect {
    color: #ffffff;
}

.header-logo-img {
    width: 27px;
    height: 27px;
}

.header-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 24px;
}

.header-search {
    font-size: 25px;
    width: 70px;
    height: 70px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #1A1D20;
}

.latest-news {
    height: 375px;
    background-image: url("../img/header-bg.jpeg");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.latest-news-section {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    justify-content: center;
}

.latest-news-section-tagline {
    color: #ffffff;
    font-size: 27px;
    margin-bottom: 28px;
}

.latest-news-section-btn-green {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 11px 11px 11px;
    background-color: #89CA62;
    border-radius: 3px;
    font-size: 18px;
    margin-right: 10px;
}

.latest-news-section-btn-blue {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 16px 10px 16px;
    background-color: #14B9D5;
    border-radius: 4px;
    font-size: 18px;
}

.popular-post {
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    flex-direction: column;
    height: 1110px;
}

.popular-post-section {
    justify-content: start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 988px;
    align-content: center;
}

.popular-post-heading {
    font-size: 27px;
    color: #14B9D5;
    margin: 40px auto 34px;
}

.popular-post-image {
    margin-right: 15px;
    width: max-content;
    margin-bottom: 22px;
}

.popular-post-description {
    padding: 10px;
    background-color: #FFFFFF;
    text-align: center;
}

.popular-clients {
    height: 530px;
    background-image: url("../img/parallax-bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 163px 46px 104px;
    justify-content: center;
}

.popular-clients-header {
    text-align: center;
    align-self: end;
    font-size: 32px;
    text-transform: uppercase;
}

.popular-clients-tagline {
    color: #ffffff;
}

.popular-clients-decoration-line {
    width: 60px;
    height: 3px;
    background-color: #169CB4;
    justify-self: center;
    align-self: end;
}

.popular-clients-logo {
    justify-self: center;
    align-self: end;
}

.popular-clients-icon {
    margin-right: 50px;
    color: #ffffff;
}

.top-rated {
    display: grid;
    justify-content: center;
    grid-template-rows: 88px 1fr;
}

.top-rated-heading {
    text-align: center;
    align-self: center;
    font-size: 27px;
    color: #169CB4;
}

.top-rated-img {
    margin-right: -0.3em;
}

.hot-news {
    height: 1683px;
    display: grid;
    grid-template-rows: 88px 260px 418px 418px 259px;
    grid-template-columns: repeat(4, 277px);
    grid-gap: 30px;
    justify-content: center;
    margin-bottom: 48px;
}

.hot-news-header {
    width: 100%;
    text-align: center;
    align-self: center;
    font-size: 27px;
    color: #169CB4;
    grid-column: span 4;
}

.hot-news-heading {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0 10px;
    text-align: center;
}

.hot-news-description {
    font-size: 14px;
    text-align: right;
    line-height: 1.5;
    padding: 5px;
    margin-right: 20px;
}

.hot-news-emirate {
    grid-column: span 3;
    display: inline-flex;
    background-color: #F9F7F7;
}

.hot-news-emirate-text {
    text-align: right;
    padding-right: 5px;
}

.hot-news-spain-nebula-hotel {
    background-color: #F9F7F7;
}

.hot-news-egypt {
    grid-column: span 2;
    background-color: #F9F7F7;
}

.hot-news-maldives {
    grid-column: span 2;
    background-color: #F9F7F7;
}

.hot-news-tenerife {
    grid-column: span 2;
    background-color: #F9F7F7;
}

.hot-news-great-britain {
    grid-column: span 2;
    background-color: #F9F7F7;
}

.hot-news-ireland {
    background-color: #F9F7F7;
}

.hot-news-spain-kings-shroud {
    grid-column: span 3;
    display: inline-flex;
    background-color: #F9F7F7;
}

.footer {
    height: 80px;
    background-color: #1D2124;
    display: flex;
    justify-content: center;
}

.footer-copyright {
    width: 1198px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

