:root{
    --color1: #89C331;
    --color2: #F04A56;
    --color3: #20807C;
    --color4: #fafafa;
    --color5: #F2F2F2;
    --color6: #E3E3E3;
    --color7: #484848;
    --color8: #ffffff;
}

body{
    font-family: 'Arimo', sans-serif;
}

.table{
    width: 1192px;
    border:17px solid #3A4965;
    text-align: center;
    text-transform: uppercase;
    border-collapse: collapse;
}

td{
    border: 1px solid #E0E0E0;
}

.table-header{
    height: 71px ;
    font-size: 24px;
    color: var(--color8);
}

.table-header-td1{
    background-color: var(--color4);
    color: var(--color7);
    width: 311px;
}

.table-header-td1-tagline{
    font-size: 18px;
}

.table-header-td1-tagline-strong{
    font-size: 30px;
}

.table-header-standard{
    background-color: var(--color1);
}

.table-header-ultimate{
    background-color: var(--color2);
}

.table-header-premium{
    background-color: var(--color3);
}

.table-trek-1{
    height: 87px;
}

.table-trek-1-price{
    position: relative;
}

.price{
    font-size: 60px;
}

.price-cents{
    position: absolute;
    top: 14px;
}

.month{
    font-size: 18px;
    text-transform: none;
}

.table-trek-2,
.table-trek-3,
.table-trek-3,
.table-trek-4,
.table-trek-5,
.table-trek-6,
.table-trek-7,
.table-trek-button{
    height: 70px;
}

.table-trek-1{
background-color: var(--color4);
}

.table-trek-2,
.table-trek-4,
.table-trek-6,
.table-trek-button{
    background-color: var(--color5);
}

.table-trek-3,
.table-trek-5,
.table-trek-7{
    background-color: var(--color6) ;
}

.table-trek-button{
    height: 83px;
}

.table-trek-button-green,
.table-trek-button-red,
.table-trek-button-blue {
   padding: 13px 43px 13px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--color8);
}

.table-trek-button-black{
    background-color: var(--color7);
    padding: 13px 33px ;
    border-radius: 5px;
    text-decoration: none;
    color: var(--color8);
}

.table-trek-button-green{
    background-color: var(--color1);
}

.table-trek-button-red{
    background-color: var(--color2);
}

.table-trek-button-blue{
    background-color: var(--color3);
}

.table-trek-button-green:hover{
    background-color: #6aa532;
}

.table-trek-button-red:hover{
    background-color: #d23f48;
}

.table-trek-button-blue:hover{
    background-color: #21625e;
}

.table-trek-button-black:hover{
    background-color: #2a2a2a;
}