body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

.section {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
    url("../image/background.png");
    width: 1366px;
    height: 768px;

}

.header {
    height: 45px;
    width: 1065px;
    color: #ffffff;
    margin: 0 auto;
    padding: 50px;
}

.header-logo {
    float: left;
    display: flex;
}

.header-logo-icon {
    background-image: url("../image/logo.png");
    margin-right: 15px;
    height: 44px;
    width: 46px;
}

.header-logo-heading {
    width: 110px;
}

.header-logo-heading-milan {
    font-size: 29px;
    text-decoration: none;
    color: #ffffff;
}

.header-logo-heading-holidays {
    text-decoration: none;
    color: #ffffff;
}

.header-link {
    float: right;
}

.header-link-description {
    text-decoration: none;
    color: #ffffff;
}

.header-link-description:hover,
.main-content-description:hover {
    color: #faaf40;
}

.header-logo-heading:hover .header-logo-heading-milan {
    color: #faaf40;
}

.header-logo-heading:hover .header-logo-heading-holidays {
    color: #faaf40;
}


.main {
    width: 1065px;
    margin: 0 auto;
    position: relative;
}

.main-content {
    width: 307px;
    margin-right: 72px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.main-content-description {
    margin: 22px auto 50px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.main-content-last {
    width: 307px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.main-content-img{
    border: 2px solid #ffffff;
}

.main-content-price {
    width: 310px;
    height: 65px;
    background-color: #faaf40;
    position: absolute;
    top: 138px;
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-content:hover .main-content-price {
    visibility: visible;
    transition: 0.3s;
}

.main-content:hover .main-content-description {
    color: #faaf40;
}

.main-content:hover .main-content-img{
    border: 2px solid #faaf40;
}

.main-content-last:hover .main-content-price {
    visibility: visible;
    transition: 0.3s;
}

.main-content-last:hover .main-content-description {
    color: #faaf40;
}

.main-content-last:hover .main-content-img{
    border: 2px solid #faaf40;
}

.main-content-price-left{
    color: #ffffff;
}

.main-content-price-left-from{
    font-size: 10px;
}

.main-content-price-left-euro{
    font-size: 20px;
}

.main-content-price-right-details{
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
}

.main-content-price-right-details::after{
    position: absolute;
    content: "\276D";
    font-size: 16px;
    top: 24px;
    right: 33px;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}
