@keyframes slide {
    0% {
        top: 90%;
    }
    100% {
        top: -70%;
    }
}

.section{
    width: 100vw;
    height: 100vw;
    background-color: #000000;
}

.section-header{
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 500%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(200px) rotateX(13deg);
}

.section-header::after{
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
    pointer-events: none;
}

.slide{
    position: absolute;
    top: 60%;
    animation: slide 30s infinite;
}

.slide-heading{
    text-align: center;
    color: goldenrod;
}

.slide-text{
    color: goldenrod;
    text-align: center;
    font-size: 130px;
}

.background-video {
    display: none;
}