body{
    font-family: Helvetica, sans-serif;
}

.header{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav{

}

.header-nav-link{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-right: 45px;
    color: #16A085;
}

.header-nav-link:hover{
    color: #016d56;
}

.photo{
    height: 790px;
    display: flex;
    justify-content: center;
    background-color: #F5F6F7;
}

.main{
    background-color: #F5F6F7;
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-section{
    margin: 40px;
    width: 1060px;
}

.main-heading{
    font-size: 22px;
    margin-bottom: 25px;
}

.main-text{
    font-size: 16px;
    margin-bottom: 26px;
}

.button{
    text-align: center;
    background-color: #F5F6F7;
}

.button-link{
    width: 200px;
    height: 55px;
    font-size: 12px;
    margin-bottom: 60px;
    background-color: #16A085;
    text-transform: uppercase;
    color: #ffffff;
}

.button-link:hover{
    background-color: #016d56;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.footer-copyright{
    width: 1060px;
    font-size: 16px;
    text-align: end;
}