body {
    font-family: 'Montserrat', sans-serif;
    background-color: #151616;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: #151616;
    align-items: center;
    padding: 10px 81px 26px 58px;
}

.header-burger {
    display: none;
}

.header-nav {
    width: 600px;
    display: flex;
    justify-content: space-between;
    z-index: 20;
}

.header-nav-link {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.main {
    margin: 0 147px 56px 147px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

.main-content {
    position: relative;
}

.main-content-header {
    width: 327px;
    height: 141px;
    position: absolute;
    z-index: 15;
    top: 80px;
    left: 44px;
    background-color: #151616;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.main-content-header-link {
    text-decoration: none;
    color: #ffffff;
}

.main-content-img {
    position: relative;
    z-index: 2;
    width: 100%;
}

.main-content::after {
    content: "";
    /* width: 107px; */
    /* height: 347px; */
    width: 10.85%;
    height: 67.5%;
    position: absolute;
    right: -65px;
    top: 0;
    background-color: #ED1260;
}

.main-heading {
    padding: 37px;
    font-size: 25px;
    color: #ffffff;
}

.nav {
    height: 326px;
    padding: 0 200px 0 167px;
    margin: 0 0 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 610px;
    margin: 0px auto 100px;
    grid-row-gap: 37px;
}

.nav-logo {
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.nav-logo-icon {
    height: 50%;
    padding: 10px;
}

.nav-logo-description {
    color: #ffffff;
    height: 50%;
    font-size: 18px;
    line-height: 22px;
}

.map {
    width: 580px;
    height: 296px;
    margin: 0 auto 100px;
    box-sizing: border-box;
    border: 5px solid #ED1260;
}

.map-link {
    text-align: center;
    padding: 27px 27px 0;
}

.map-link-img {
    object-fit: cover;
}

.map-description {
    color: #ffffff;
    text-align: center;
    padding: 17px;
}

.contacts {
    height: 311px;
    padding: 0 124px 0 175px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin-bottom: 100px;
}

.contacts-heading {
    color: #ffffff;
    font-size: 45px;
    line-height: 55px;
    padding: 0 0 86px 0;
    grid-column: 1/4;
}

.contacts-main {
    display: flex;
    justify-content: space-between;
}

.contacts-info {
    text-align: center;
}

.contacts-icon {
    padding: 0 0 25px;
}

.contacts-description {
    color: #ffffff;
}

.contacts-description-link {
    padding: 10px 10px 6px;
}

.contacts-description-item {
    padding: 4px;
}

@media(max-width:1280px) {
    .container {
        width: 100%;
    }
    .contacts {
        padding: 0 124px;
    }
    .nav {
        padding: 0 0 0 0;
    }
    .main {
        margin: 0 80px 56px 50px;
    }

}

@media(max-width: 770px) {
    .contacts {
        padding: 0 0 0 0;
    }
    .header {
        display: block;
        height: 51px;
        padding: 0 0 0 0;
    }
    .header-nav {
        display: none;
        flex-wrap: wrap;
        height: 300px;
        width: 30%;
        background-color: #ED1260;
        position: absolute;
        right: 0;
    }
    .header-nav-list {
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    .header-nav-link {
        width: 50px;
        color: #ffffff
    }
    .header-logo img {
        height: 51px;
    }
    .header-burger {
        display: block;
        background-color: #151616;
        position: absolute;
        z-index: 10;
        width: 51px;
        height: 51px;
        top: 0;
        right: 0;
    }
    .header-burger::before, .header-burger::after, .header-burger span {
        content: '';
        background-color: #ffffff;
        position: absolute;
        width: 75%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header-burger::before {
        top: 15px;
    }
    .header-burger::after {
        top: 25px;
    }
    .header-burger span {
        top: 35px;
        transition: all 0.3s ease 0s;
    }
    .header-burger.active::before {
        transform: rotate(45deg);
        top: 24px;
    }
    .header-burger.active::after {
        transform: rotate(-45deg);
        bottom: 24px;
    }
    .header-burger.active span {
        transform: scale(0);
    }
    .header-nav.active {
        display: flex;
    }

    .main-heading {
        padding: 37px 0 37px 37px;
    }
    .contacts-heading {
        margin: 0 auto;
    }
}

@media(max-width:400px) {
    .container {
        width: 320px;
        overflow: hidden;
    }
    .header {]
        padding: 0px 0px 0px 0px;
    }
    .main {
        height: 610px;
        margin: 0 0 56px 0;
    }
    .main-content {
        width: 320px;
        height: 513px;
        padding: 0 0 0 0px;
        position: relative;
    }
    .main-content-img {
        position: absolute;
        max-width: 100%;
        /*object-fit: cover;*/
        height: 450px;
        width: 320px;
    }
    .main-content::after {
        width: 265px;
        height: 64px;
        right: 0px;
        top: 450px;
    }
    .main-content-header {
        width: 257px;
        height: 110px;
        font-size: 25px;
        top: 40px;
        left: 12px;
    }
    .main-heading {
        padding: 30px 10px;
    }
    .nav {
        height: 100%;
        padding: 10px 10px;
        margin: 0px 0px;
        box-sizing: border-box;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        width: 100%;
        grid-row-gap: 30px;
        grid-column-gap: 10px;
    }
    .nav-logo-description {
        font-size: 14px;
    }
    .map {
        width: 320px;
        height: 190px;
    }
    .map-link-img {
        width: 255px;
    }
    .contacts {
        margin: 0 0 0 0;
        height: 257px;
        grid-template-columns: auto;
        box-sizing: border-box;
        border: 5px solid #F38A03;
    }
    .contacts-heading {
        grid-column: auto;
        padding: 26px 0 0 0;
    }
    .contacts-heading p {
        font-size: 20px;
        line-height: 24px;
    }
    .contacts-info {
        justify-self: left;
        display: flex;
        height: 50px;
        padding: 5px 37px;
        align-items: center;
    }
    .contacts-icon {
        padding: 0 0;
    }
    .contacts-description-link {
        display: none;
    }
    .contacts-description-item {
        padding: 4px 14px;
        font-size: 18px;
    }
}